The code which was previously written on list.ejs
 EJS helps in replacing valuing depending on the condition
        <%  %>, all control flow statements can be written inside this(chhota mota if else ke liye use kr skte hai)
        <%=  %> , that variable which is replaced can be written inside this 
        
        <% if(dayinlist==="Sunday" || dayinlist==="Saturday"){ %>
            <h1 style="color: red"><%= dayinlist %></h1> 
        <% }else { %>
            <h1 style="color: green"><%= dayinlist %></h1>
        <% } %>
        